[submodule "Dependencies/MicroNetworkCommon"]
	path = Dependencies/MicroNetworkCommon
	url = https://github.com/L-proger/MicroNetworkCommon.git
[submodule "Dependencies/MicroNetworkHost"]
	path = Dependencies/MicroNetworkHost
	url = https://github.com/L-proger/MicroNetworkHost.git
[submodule "Dependencies/LFramework"]
	path = Dependencies/LFramework
	url = https://github.com/L-proger/LFramework.git
[submodule "Dependencies/MicroNetworkUser"]
	path = Dependencies/MicroNetworkUser
	url = https://github.com/L-proger/MicroNetworkUser.git
[submodule "Dependencies/ComInterfaceGenerator"]
	path = Dependencies/ComInterfaceGenerator
	url = https://github.com/L-proger/ComInterfaceGenerator.git
